.container {
    margin: 0 auto;
    color: white;
}  

[class*="col-"] {
    background-color: blue;
    margin: 1px;
    height: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.col- {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
} 
      
