.container {
    margin: 15px auto;
    color: white;
}  

[class*="col-"] {
    background-color: rgb(50, 99, 206);
    border: solid white 2px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.col- {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
} 

.green {
    background-color: rgb(40, 197, 40);
}
